/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  background-color: #393836;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}


nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  color: #58fb0d; /* Change the color to your desired hover color */
}


nav ul li.search-bar {
  display: flex;
  align-items: center;
}

nav ul li.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

nav ul li.search-bar button[type="submit"] {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav ul li.search-bar button[type="submit"]:hover {
  background-color: #f5e10c;
}

nav ul li.cart-icon {
  margin-right: 0;
}

nav ul li.cart-icon a i {
  color: white;
  font-size: 20px;
} 

.hero-image {
  background-image: url("images/home/image1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 20px;
  background-color: #1eff05;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #04ff04;
}
/* category */
.container {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  margin: 10px;
}

.card img {
  width: 300px;
  height: 200px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #000b01;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-button {
  opacity: 1;
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
}
/* footer */

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
/* category Heading */
.Categoryhaeding{
  text-align: center;;
  color: #060400;
}
/* Categoryhaeding */
.Categorycat{
  text-align: center;;
  color: #fe4806;
}
.cat{
  position: relative;
  margin: 10px;
}

.cat img {
  width: 300px;
  height: 200px;
}

.cat-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cat:hover .cat-overlay {
  opacity: 1;
}
.cat-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease; 
}
.cat:hover .cat-button {
  opacity: 1;
}